@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');                         //Making font family-1


$accent1: #202124;
$background_color: #17181B;
$text_color: #FFFFFF;
$bodyfont: ('Bitter', serif); 